@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

.calculator input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calculator input[type="number"] {
  -moz-appearance: textfield;
}

.calculator input:active,
.calculator input:focus {
  border: none;
  outline: none;
}

.calculator {
  width: calc(100% - 30px);
  max-width: 840px;
  height: 100%;
  margin: 100px auto;
  overflow: hidden;
  font-family: "Lato";
  line-height: normal;
}

.calculator .calculator_top {
  display: flex;
  padding: 20px 40px;
  background: #000;
}

.calculator .calculator_top_item {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.calculator .calculator_top_item::after {
  background: #ccc1b4;
  content: "";
  position: absolute;
  bottom: 0px;
  height: 1px;
  width: 100%;
  right: 0;
}

.calculator h1 {
  color: #ccc1b4;
  text-align: center;
  font-size: 26px;
  font-weight: 400;
}

.calculator .calculator_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px;
  background: #f5f4f1;
  gap: 25px;
}

.calculator .input_wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.calculator .input_wrap label {
  color: #2c2c2c;
  font-size: 14px;
  font-weight: 700;
}

.calculator .input_wrap input {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 85px;
  height: 38px;
  background: #fff;
  border: none;
  text-align: center;
  padding: 8px 10px;
  color: #2c2c2c;
  font-size: 15px;
  font-weight: 400;
}

.calculator .input_item {
  position: relative;
}

.calculator .input_item.start input {
  padding-left: 16px;
  text-align: start;
}

.calculator .input_item.end input {
  padding-right: 20px;
  text-align: end;
}

.calculator .input_item span {
  position: absolute;
  top: 50%;
  transform: translate(0, -55%);
  color: #2c2c2c;
  font-size: 15px;
  font-weight: 400;
}

.calculator .input_item.start span {
  left: 6px;
}

.calculator .input_item.end span {
  right: 6px;
}

.calculator .calculator_result {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px;
  gap: 25px;
  color: #2c2c2c;
  font-weight: 800;
}

.calculator .result_item {
  background: #f5f4f1;
  display: flex;
  align-items: center;
  height: 48px;
  width: 100%;
}

.calculator .result_item_label {
  font-size: 15px;
  background: url(./label-bg.png) no-repeat right center;
  padding: 0 0 0 20px;
  display: flex;
  align-items: center;
  background-size: cover;
  height: 48px;
  min-width: 132px;
  width: 132px;
}

.calculator .result_item_value {
  font-size: 18px;
  padding: 0 14px;
  display: flex;
  align-items: center;
  height: 100%;
  min-width: 70px;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .calculator .calculator_result,
  .calculator .calculator_content,
  .calculator .calculator_top {
    padding: 20px;
    gap: 15px;
  }

  .calculator .result_item_value {
    padding: 0 10px;
  }

  .calculator .result_item_label {
    padding-left: 10px;
  }

  .calculator .calculator_top_item {
    gap: 10px;
  }
}

@media screen and (max-width: 800px) {
  .calculator .calculator_top_item svg {
    width: 50px;
    min-width: 50px;
    height: auto;
  }

  .calculator h1 {
    font-size: 16px;
    padding-bottom: 10px;
  }

  .calculator .input_wrap {
    width: 100%;
    justify-content: space-between;
  }

  .calculator .calculator_result,
  .calculator .calculator_content {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
  }

  .calculator .input_wrap input {
    width: 80px;
  }

  .calculator .result_item_value {
    width: 100%;
    justify-content: flex-end;
  }

  .calculator .result_item_label {
    min-width: 150px;
    width: 150px;
  }
}
