@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", "sans-serif", "arial";
  box-sizing: border-box;
  font-style: normal;
}

.calculator {
  width: 100%;
  max-width: 540px;
  padding: 0 15px;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calculator input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  width: 100%;
  max-width: 476px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.calculator .title-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 18px;
}

.calculator .title-block-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.calculator .title-block-text-top {
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  color: #003f82;
}

.calculator .title-block-text-bottom {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  background-color: #003f82;
  padding: 0 16px;
  border-radius: 12px;
  display: block;
}

.calculator .tagline-bg {
  color: #003f82;
  padding: 14px 22px;
  background-color: #f8f9fd;
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #003f82;
  border-radius: 12px;
}

.calculator .input-block {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 22px;
  margin-bottom: 24px;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #003f82;
  width: 100%;
}

.calculator .input-block input {
  width: 70px;
  height: 30px;
  text-align: center;
  background: #f8f9fd;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #003f82;
}

.calculator .input-block input.error {
  border: 1px solid rgba(253, 44, 44, 0.775);
}

.calculator .checkbox-block {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.calculator .checkbox-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 6px 22px;
  gap: 10px;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: 0.3s;
}

.calculator .checkbox-item:hover {
  background-color: #003f820c;
}

.calculator .checkbox-item svg {
  width: 34px;
  height: auto;
  min-height: 22px;
  max-height: 24px;
}

.calculator .checkbox-item-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.calculator .checkbox-item-title span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #003f82;
}

.calculator .checkbox-item-switcher {
  display: flex;
  width: 88px;
  height: 28px;
  background-color: #edf0fa;
  border-radius: 4px;
  overflow: hidden;
}

.calculator .checkbox-item-switcher span {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #abc0d6;
  width: 44px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator .checkbox-item-switcher span.act {
  background-color: #ff8400;
  color: #ffffff;
}

.calculator .calculate-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3c80df;
  margin: 0 auto;
  padding: 14px 30px;
  border: 0;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  transition: 0.3s;
  margin-bottom: 40px;
  margin-top: 40px;
}

.calculator .calculate-button:hover {
  background: #00b07a;
}

.calculator .logo-block {
  width: 100%;
  border-top: 1px solid #003f82;
  padding-top: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator .result-block {
  background: #f8f9fd;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #003f82;
  width: 100%;
  padding: 32px 30px 20px;
  margin-bottom: 14px;
}

.calculator .result-block p {
  text-align: center;
}

.calculator .circular-progress {
  display: inline-block;
  position: relative;
  width: 142px;
  height: 142px;
}

.calculator .circular-progress-svg {
  transform: rotate(0deg);
  width: 100%;
  height: 100%;
}

.calculator .circular-progress-bg {
  fill: none;
  stroke: #fff;
  stroke-width: 3;
}

.calculator .circular-progress-bar {
  fill: none;
  stroke: #ff8400;
  stroke-width: 3;
  stroke-linecap: round;
  transition: stroke-dasharray 0.35s;
}

.calculator .circular-progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 34px;
  line-height: 40px;
  color: #ff8400;
}

.calculator .description-block {
  display: flex;
  flex-direction: column;
}

.calculator .description-item {
  display: flex;
  align-items: center;
  gap: 26px;
  padding: 30px;
  border-bottom: 1px solid #e0e0e0;
}

.calculator .description-item svg {
  width: 54px;
  min-width: 54px;
  height: auto;
  min-height: 54px;
  max-height: 70px;
  display: flex;
}

.calculator .description-item:last-child {
  border-bottom: none;
}

.calculator .description-item-text span {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #003f82;
  margin-bottom: 4px;
  display: block;
}

.calculator .description-item-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #003f82;
}

@media screen and (max-width: 768px) {
  .calculator .title-block {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .calculator .title-block-text-top {
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
  }

  .calculator .title-block-text {
    align-items: center;
  }

  .calculator .checkbox-item {
    padding: 6px 14px;
  }

  .calculator .description-item {
    gap: 10px;
    padding: 14px;
    flex-direction: column;
  }

  .calculator .description-item-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .calculator .description-item svg {
    width: 34px;
    min-width: 34px;
    min-height: 30px;
    max-height: 40px;
  }
  .calculator .description-item-text p {
    text-align: center;
  }

  .calculator .circular-progress-text {
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
  }
}
