.calculator input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calculator input[type="number"] {
  -moz-appearance: textfield;
}

.calculator .MuiOutlinedInput-root {
  background: #fff;
}

.calculator button {
  background: transparent;
  border: none;
}

.calculator .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
  right: 26px;
}

.calculator .MuiFormLabel-root {
  color: #000;
}

.MuiAutocomplete-popper li {
  text-align: center;
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 30px);
  max-width: 780px;
  height: 100%;
  margin: 100px auto;
  line-height: 1.2;
  font-family: "din next" "sans-serif", "arial";
}

.calculator h1 {
  width: 100%;
  padding-bottom: 32px;
  color: #4ba7c3;
  font-size: 42px;
  text-align: center;
  font-weight: 800;
  position: relative;
  text-transform: uppercase;
}

.calculator h1:after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 78px;
  height: 2px;
  background-color: #f5a800;
  left: 50%;
  transform: translate(-50%, 0%);
}

.calculator h2 {
  width: 100%;
  padding-bottom: 32px;
  margin-bottom: 32px;
  color: #758592;
  font-size: 32px;
  text-align: center;
  font-weight: 400;
  margin-top: 72px;
  border-bottom: 1px solid #d2d3d4;
  font-style: italic;
}

.calculator h3 {
  width: 100%;
  padding-bottom: 32px;
  margin-bottom: 32px;
  color: #758592;
  font-size: 32px;
  text-align: center;
  font-weight: 400;
  margin-top: 72px;
  border-bottom: 1px solid #d2d3d4;
  font-style: italic;
}

.calculator .list-group-title {
  font-size: 24px;
  font-weight: 800;
}

.calculator .MuiIconButton-root {
  right: 30px;
}

.calculator .MuiAutocomplete-root {
  width: 100%;
}

.calculator .content {
  width: 100%;
}

.calculator .list-group-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 32px;
  gap: 20px;
  border: 1px solid #d2d3d4;
  border-bottom: none;
}

.calculator .list-group:nth-child(3) .list-group-item {
  border-bottom: 1px solid #d2d3d4;
}

.calculator .list-group .list-group-content {
  border-top: 1px solid #d2d3d4;
}

.calculator .list-group:nth-child(3) .list-group-content {
  border-top: none;
}

.calculator .list-group-button {
  position: relative;
}

.calculator .list-group-button button {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #494737;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 125%;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.calculator .list-group-button button path {
  transition: all 0.3s;
}

.calculator .list-group-button button:hover {
  color: #f5a800;
}

.calculator .list-group-button button:hover path {
  fill: #f5a800;
}

.calculator .list-group-list {
  position: absolute;
  top: 32px;
  right: 0;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  width: 300px;
  display: block;
  z-index: 2;
  max-height: 300px;
  overflow: auto;
}

.calculator .list-group-list li {
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  list-style: none;
  text-align: center;
  position: relative;
}

.calculator .list-group-list li:hover {
  background-color: #f5a800;
  color: #fff;
}

.calculator .list-group-list .selected {
  pointer-events: none;
  color: #b4bcc3;
}

.calculator .list-group-list li svg {
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translate(0%, -50%);
}

.calculator .list-group-content {
  background: #f3f3f3;
}

.calculator .list-group-content-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 32px 28px 16px;
  gap: 20px;
}

.calculator .list-group:last-child .list-group-content-item {
  border-top: none;
}

.calculator .list-group-content-item-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.calculator .list-group-content-item-form > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

.calculator .list-group-content-item-form > div > div {
  max-width: 180px;
  width: 100%;
}

.calculator .list-group-content-item-remove {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.calculator .list-group-content-item-remove path {
  transition: all 0.3s;
}

.calculator .list-group-content-item-remove:hover path {
  fill: #f5a800;
}

.calculator .list-group-content-item-title {
  color: #000;
  font-size: 20px;
}

.calculator .button-calculate {
  background: #f4bc54;
  color: #494737;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 12px 15px 12px 40px;
  font-size: 14px;
  line-height: 125%;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 48px;
}

.calculator .button-calculate:hover {
  background: #f5a800;
}

.calculator .result-section {
  display: flex;
  background: #f3f3f3;
  padding: 40px 32px;
  gap: 24px;
  justify-content: space-between;
}

.calculator .result-section-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: calc(50% - 12px);
}
.calculator .result-section-item span {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.calculator .result-section-value {
  color: #616d73;
  font-size: 42px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 30px;
  background: #fff;
  width: 100%;
  text-align: center;
}

.calculator .button-reset {
  color: #494737;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  gap: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  transition: all 0.3s;
}

.calculator .button-reset:hover {
  color: #f5a800;
}

.calculator .button-reset path {
  transition: all 0.3s;
}

.calculator .button-reset:hover path {
  fill: #f5a800;
}

@media screen and (max-width: 768px) {
  .calculator .list-group-content-item-form {
    flex-direction: column;
  }

  .calculator .list-group-content-item-form > div {
    width: 100%;
    justify-content: start;
  }

  .calculator .list-group-item,
  .calculator .list-group-content-item {
    padding: 16px;
  }

  .calculator .list-group-content-item-title {
    font-size: 16px;
  }

  .calculator .list-group-content-item-form > div > div {
    max-width: calc(50% - 7px);
  }

  .calculator .list-group-button button {
    font-size: 12px;
    gap: 6px;
  }

  .calculator .list-group-button button svg {
    width: 20px;
    height: 20px;
  }

  .calculator .list-group-list li {
    padding: 10px;
  }

  .calculator .result-section {
    padding: 16px;
    gap: 20px;
    flex-direction: column;
  }

  .calculator .result-section-item {
    width: 100%;
    gap: 10px;
  }

  .calculator .result-section-value {
    font-size: 22px;
    padding: 16px;
  }

  .calculator .result-section-item span {
    font-size: 16px;
  }

  .calculator .button-reset {
    margin-top: 20px;
  }

  .calculator h1 {
    padding-bottom: 20px;
    font-size: 22px;
  }

  .calculator h2 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    margin-top: 22px;
  }

  .calculator h3 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    margin-top: 22px;
  }

  .calculator .list-group-title {
    font-size: 16px;
  }

  .calculator .MuiInputBase-input {
    padding: 10px;
  }

  .calculator .button-calculate {
    margin-top: 20px;
  }
}
